In [6]:
try:
    import pandas as pd
    import numpy as np
except:
    print('Error in importing the files.')

In [8]:
f_path='Sample Data - Data Analyst Task.xlsx'
try:
    df_orders=pd.read_excel(f_path,'Orders')
    df_returns=pd.read_excel(f_path,'Orders Returns')
    df_sp     =pd.read_excel(f_path,'Person')
    
except:
    print('There was an error loading the data')

There was an error loading the data

In [9]:
df_orders.head()

,Order ID,Order Date,Customer Wanted date,Last Actual Ship Date,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2016-152156,2016-11-08,2016-11-11,2016-11-11,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,CA-2016-152156,2016-11-08,2016-11-11,2016-11-11,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,CA-2016-138688,2016-06-12,2016-06-16,2016-06-16,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,US-2015-108966,2015-10-11,2015-10-14,2015-10-18,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,US-2015-108966,2015-10-11,2015-10-15,2015-10-18,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Order ID               9994 non-null   object
 1   Order Date             9994 non-null   datetime64[ns]
 2   Customer Wanted date   9994 non-null   datetime64[ns]
 3   Last Actual Ship Date  9994 non-null   datetime64[ns]
 4   Customer ID            9994 non-null   object
 5   Customer Name          9994 non-null   object
 6   Segment                9994 non-null   object
 7   Country                9994 non-null   object
 8   City                   9994 non-null   object
 9   State                  9994 non-null   object
 10  Postal Code            9994 non-null   int64
 11  Region                 9994 non-null   object
 12  Product ID             9994 non-null   object
 13  Category               9994 non-null   object
 14  Sub-Category           9994 non-null   object
 15  Product Name           9994 non-null   object
 16  Sales                  9994 non-null   float64
 17  Quantity               9994 non-null   int64
 18  Discount               9994 non-null   float64
 19  Profit                 9994 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(2), object(12)
memory usage: 1.5+ MB

### Now what is churn ?
#### Churn basically means the rate of attrition. That goes to say finding out the rate at which customers stop doing business with you

### List of questions::
#### 1.Find out how many shipments are reachinglate to the customer?
#### 2.Find out on which sector of the products are we incurring a loss?
#### 3.Finding a correlation between the above two events
#### 4.Find if a particular category or sub-category of products are late in shipment?
#### 5.Segmentation of customers into three segments, i.e one-time buyers, middle spenders, high spenders, or recurring customers.
#### 6.Revenue generation based on state.
#### 7.What will be the next year's performance.
#### 8.Find out if there is a relation between late shipment and customer leaving/

In [13]:
#Find out how many shipments are reaching late to the customers?
#So here we need to work with these three columns Order Date Customer Wanted
#date Last Actual shipment date:

df_lateship=df[df["Last Actual Ship Date"]>df['Customer Wanted date']]

df_lateship['DaysLate']=df['Last Actual Ship Date']-df['Customer Wanted date']

df_lateship['DaysLate'].describe()

#Here we can see that on an avg shipment, if delayed is 1 day late
#But on the contrary amongs 9994 values, 2273 are in late shipments
#Meanding almost 20% of the shipments are arriving late.

C:\Users\Ananya Bhatnagar\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

count                      2273
mean     1 days 14:34:53.796744
std      0 days 19:31:35.294663
min             1 days 00:00:00
25%             1 days 00:00:00
50%             1 days 00:00:00
75%             2 days 00:00:00
max             4 days 00:00:00
Name: DaysLate, dtype: object

In [14]:
#no of rows:
a=df.index
b=len(a)
print(b)

9994

In [17]:
#Percentage of late shipments:
# describe() m pehla hi total count hai
lateship_pct=df_lateship['DaysLate'].describe()[0]/len(df.index)*100
print('{:.2f}% of shipments are arriving late'.format(lateship_pct))

22.74% of shipments are arriving late

In [18]:
#Lets now list out the categories and their counts:

df_orders.groupby('Category').count()

,Order ID,Order Date,Customer Wanted date,Last Actual Ship Date,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Category,,,,,,,,,,,,,,,,,,,
Furniture,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121,2121
Office Supplies,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026,6026
Technology,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847

In [29]:
# Find out which sector of the products are we incuring a loss
#Here we need to work with the Profit, Category & sub category of the product.

df_catloss=df[['Category','Sub-Category']].loc[df['Profit']<0].groupby('Category').count()

In [30]:
df_catloss

                 Sub-Category
Category
Furniture                 714
Office Supplies           886
Technology                271

In [28]:
v=df_catloss.loc['Furniture','Sub-Category']
v
#in furniture 714 ka loss hua total me se

714